spring:
  datasource:
    # Database URL
    url: jdbc:mysql://localhost:3306/postdb
    # Database username
    username: root
    # Database password
    password: test
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8081
